# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
build
dist

# Cache
.cache
.turbo

# Environment variables
.env
.env.local
.env*.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Misc
*.tsbuildinfo
next-env.d.ts
pnpm-lock.yaml
